.saved__container {
  grid-area: saved;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 1rem;
  border-left: 2px solid #f2f0f2;
}
.saved__title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: bold;
}

.saved__link {
  display: flex;
  align-items: center;
  color: #4310bd;
}
