.main {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 3fr minmax(6rem, 1fr);
  grid-template-rows: 11rem minmax(0, 1fr);
  grid-template-areas:
    'form    saved'
    'results saved';
  margin: auto;
  padding: 1rem;
  height: 100vh;
  background-color: #fef9fe;
}

.main__results {
  grid-area: results;
  overflow-y: auto;
  min-height: 0;

  /* Have both margin and padding to keep the scroll bar from looking strange */
  margin-right: 1rem;
  padding-right: 1rem;
}

.text-icon {
  height: 1.5em;
  width: 1.5em;
  padding-left: 1ch;
  fill: currentColor;
}
